

.example-card{
  width:400px;
  margin: 10px auto;
  -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden; /* again */
}


.example-header-image {
  background-size: cover;
}
